/**

header section

**/
.mainmenu__wrap{
  background-color: #f6be17 !important;
}
.forcefullwidth_wrapper_tp_banner{
  height:400px !important;
}
#rev_slider_98_1{
  height:400px !important;
}
#rev_slider_98_1_wrapper{
    height:400px !important;
}
.header{
  z-index: 10;
  position: relative;
}

.main__menu {
  display: flex;
  justify-content: left;

}
.slotholder{
  height: 400px !important;
}
.main__menu > li > a {
    color: #333333;
    display: block;
    font-size: 15px;
    font-weight: bold;
    height: 60px;
    line-height: 80px;
    position: relative;
    text-decoration: none;
    font-family: Roboto;
}

.main__menu > li > input {

    display: flex;
    line-height: 80px;
    position: relative;

}
.main__menu li {
    position: relative;
    margin: 0 10px;
    list-style: none;

}
.separator{
  width: 40px;
}

.logo a{
  display: block;
}
.header__right {
  display: flex;
  justify-content: flex-end;
  height: 80px;
  align-items: center;
}

.logo-img{
  width: 150px !important;
}


.header-btn {
  background-color: #cde16c !important;
  background-image: -webkit-linear-gradient(top, #cde16c, #cde16c);
  background-image: -moz-linear-gradient(top, #cde16c, #cde16c);
  background-image: -ms-linear-gradient(top, #cde16c, #cde16c);
  background-image: -o-linear-gradient(top,#cde16c, #cde16c);
  background-image: linear-gradient(to bottom, #cde16c, #cde16c);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-weight: bold;
  font-family: Roboto;
  color: black;
  font-size: 15px;
  text-decoration: none;
 
}

.header-btn:hover {
  background-color:#cde16c  !important;
  text-decoration: none;
}


.logo {
    align-items: center;
    display: flex;
    height: 80px;
    justify-content: flex-start;
}

.main-content{
  padding: 40px;
  font-weight: bold;
}

.viewguide{
    font-size: 13px;
    text-decoration: underline;
    color:blue;

}
.dropdown-toggle{
  background-color: #bcbab4;
  padding: 12px;
  font-size: 13px;
  border: none;
  width:500px;
}
.locker-info-div{
  padding:20px; opacity:1; background-color:#eeeee4
}
.locker-info{
  font-size:20px;font-weight:bold;padding-left:20px
}
.sort-div{
  font-size:20px;font-weight:bold
}
.sort-div div {
padding-right:20px
}


.dropbtn {
  background-color: #bcbab4;
  color: black;
  padding: 5px;
  font-size: 13px;
  border: none;
  cursor: pointer;
  width: 160px;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.btn-success{
  border-radius: 0px;
  border: none;
  font-weight: bold;
}

th:nth-of-type(1){
  width:20%;
}
td:nth-of-type(1){
  width:40%;
}
td:nth-of-type(2){
  width:20%;
}
td:nth-of-type(3){
  width:20%;
}
.red{
  color: red;
}

span .viewguide{
    text-decoration: none;
}

@media only screen and (max-width: 1039px) {
  .tp-parallax-wrap{
    top:120px !important;

  }
  #slide-280-layer-113{
    right:-105px;
      min-height:170px !important;
  }
  #searchform{
    margin-top: 50px;
  }
  #slide-280-layer-1{
      right:-50px;


  }

  .sidebar {
    width:200px !important;

  }
  .main-content {
    margin-right: 20px !important;
    padding: 5px 40px 20px 40px;
  }

}

@media only screen and (max-width: 767px) {
  .sort-div {
    font-size: 15px;
    font-weight: bold;
}
.locker-info {
    font-size: 15px;
    font-weight: bold;
    padding-left: 15px;
}
.sidebar{
   width:100% !important;

}
.sidebar-item{
   width:100% !important;
}
.sidebar-item img {
  min-width:100% !important;

}
.sidebar-item span {
    min-width:100% !important;
}
}
.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #bcbab4;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.table-wrap{
  margin-top: 50px;
}

.table-striped > tbody > tr:nth-of-type(2n) {

    background-color: #f9f9f9;

}
.dropdown-content a {
  color: black;
  padding: 5px 7px;
  font-size:11px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #bcbab4;
}
.table {

  width: 100%;
  -webkit-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 5px 12px -12px rgba(0, 0, 0, 0.29);
}
  .table thead th {
    border: none;
    padding: 30px;
    font-size: 13px;
    color: #000;
    font-weight: 400;
    text-transform: uppercase;
  }
  .table thead tr {
    background: #fff;
  }
  .table tbody tr {
    background: #fff;
  }
  .table tbody th, .table tbody td {
    border: none;
    padding: 20px 30px;
    font-size: 14px;
    vertical-align: middle;
  }
  .table tbody td .close span {
    font-size: 12px;
    color: #dc3545;
  }
