/**

header section

**/
.mainmenu__wrap{
  background-color: #f6be17 !important;
}
.header{
  z-index: 10;
  position: relative;
}
.main__menu {
  display: flex;
  justify-content: left;

}
.main__menu > li > a {
    color: #333333;
    display: block;
    font-size: 15px;
    font-weight: bold;
    height: 60px;
    line-height: 80px;
    position: relative;
    text-decoration: none;
    font-family: Roboto;
}

.main__menu > li > input {

    display: flex;
    line-height: 80px;
    position: relative;

}
.main__menu li {
    position: relative;
    margin: 0 10px;
    list-style: none;

}
.separator{
  width: 40px;
}

.logo a{
  display: block;
}
.header__right {
  display: flex;
  justify-content: flex-end;
  height: 80px;
  align-items: center;
}

.logo-img{
  width: 150px !important;
}


.header-btn {
  background-color: #cde16c !important;
  background-image: -webkit-linear-gradient(top, #cde16c, #cde16c);
  background-image: -moz-linear-gradient(top, #cde16c, #cde16c);
  background-image: -ms-linear-gradient(top, #cde16c, #cde16c);
  background-image: -o-linear-gradient(top,#cde16c, #cde16c);
  background-image: linear-gradient(to bottom, #cde16c, #cde16c);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-weight: bold;
  font-family: Roboto;
  color: black;
  font-size: 15px;
  text-decoration: none;
}

.header-btn:hover {
  background-color:#cde16c  !important;
  text-decoration: none;
}


.logo {
    align-items: center;
    display: flex;
    height: 80px;
    justify-content: flex-start;
}

.main-content{
  padding: 40px;
  font-weight: bold;
}

.viewguide{
    font-size: 13px;
    text-decoration: underline;
    color:blue;

}
.dropdown-toggle{
  background-color: #bcbab4;
  padding: 12px;
  font-size: 13px;
  border: none;
  width:500px;
}
.locker-info-div{
  padding:20px; opacity:1; background-color:#eeeee4
}
.locker-info{
  font-size:20px;font-weight:bold;padding-left:20px
}
.sort-div{
  font-size:20px;font-weight:bold
}
.sort-div div {
padding-right:20px
}


.dropbtn {
  background-color: #bcbab4;
  color: black;
  padding: 12px;
  font-size: 13px;
  border: none;
  cursor: pointer;
  width: 160px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #bcbab4;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #bcbab4;
}
